<div class="container col-sm-5">
    <br>
    <form ng-submit="checkDate()">
        <div class="input-group mb-3">
            <input type="text" class="form-control" ng-model="title" ng-minlength="1" required placeholder="Title">
        </div>
        <div class="input-group mb-3">
            <textarea class="form-control" ng-model="description" ng-minlength="1" required placeholder="Description"></textarea>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Deadline</span>
            </div>
            <input type="datetime-local" ng-model="deadline" required class="form-control">
        </div>

        <div>
            <a class="btn btn-danger" role="button" href back-button>CANCEL</a>
            <button type="submit" class="btn btn-info">ADD</button>
        </div>
        <span class="text-danger display-6 mt-3" ng-if="error">{{ error }}</span>
    </form>
</div>