<div class="container">
    <br>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Title">
    </div>
    <div class="input-group mb-3">
        <textarea class="form-control" placeholder="Description"></textarea>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Deadline</span>
        </div>
        <input type="datetime-local" class="form-control">
    </div>

    <a class="btn btn-danger" role="button" href back-button>CANCEL</a>
    <button type="button" class="btn btn-info">ADD</button>
</div>